api/reviews.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reviews" type="reviewsType"/>
  <xs:complexType name="reviewType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="package" use="required"/>
        <xs:attribute type="xs:string" name="appstoreId" use="required"/>
        <xs:attribute type="xs:string" name="versionCode" use="required"/>
        <xs:attribute type="xs:float" name="rating" use="required"/>
        <xs:attribute type="xs:string" name="device-model" use="required"/>
        <xs:attribute type="xs:string" name="country" use="required"/>
        <xs:attribute type="xs:string" name="version" use="optional"/>
        <xs:attribute type="xs:string" name="datetime" use="optional"/>
        <xs:attribute type="xs:string" name="device-name" use="optional"/>
        <xs:attribute type="xs:string" name="user-name" use="optional"/>
        <xs:attribute type="xs:string" name="title" use="optional"/>
        <xs:attribute type="xs:string" name="text" use="optional"/>
        <xs:attribute type="xs:string" name="review-url" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="reviewsType">
    <xs:sequence>
      <xs:element type="reviewType" name="review" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version" use="required"/>
    <xs:attribute type="xs:string" name="offset" use="optional"/>
  </xs:complexType>
</xs:schema>